@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    color: var(--cor-personalizada-verde);
}

.active {
    color: var(--cor-personalizada-dourada);
}